<mat-toolbar class="toolbar" color="accent">
  <mat-toolbar-row class="toolbar">
    <span>
      Room :
      <mat-form-field>
        <input matInput #box (keyup.enter)="set_room(box.value)">
      </mat-form-field>
    </span>
    <span>
      <button mat-raised-button>
        <a [href]="LOGIN_URL">Login</a>
      </button>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>
      Current Room : {{this.room}}
    </span>
  </mat-toolbar-row>
</mat-toolbar>


<div *ngIf='this.loaded' class="box">
  <div class="player">
    <div class="album">
      <img src={{imageURL}}>
    </div>
    <div class="progress">
      <mat-progress-bar color="accent" mode="determinate" [value]="this.playBackPercent"></mat-progress-bar>
    </div>
    <div class="names">
      <h1>
        {{song}}
      </h1>
      <h3>
        {{artistCombined}}
      </h3>
    </div>
    <div *ngIf="this.loaded" class="buttons">
      <button mat-raised-button color="accent" (click)="onPrevious()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">skip_previous</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="togglePlayback()">
        <mat-icon *ngIf="this.paused" aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
        <mat-icon *ngIf="!this.paused" aria-hidden="false" aria-label="Example home icon">pause_circle_outline</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="onNext()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">skip_next</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="this.loaded" class="queue">
    <app-queue class="app_queue" [songs]='this.songs'></app-queue>
  </div>
</div>

