
.toolbar {
  display: flex;
  justify-content: space-between;

  a {
    color: black;
    text-decoration: none;
  }
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}


.box {
  margin-top: 25px;
  display: flex;
  // flex-direction: column;

  @media only screen and (max-width: 415px) {
    flex-direction: column;
  }

  .names {
    margin-top: 10px;
    text-align: center;
    color: white;
  }

  .progress {
    margin-left : 1em;
    margin-right : 1em;
    margin-top: 10px;
  }

  .player {
    width: 50%;
    margin: 0 auto;

    .album {
      display: flex;
      justify-content: center;

      img {
        width:30em;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    button {
      margin: 10px;
    }
  }

  .queue {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .app_queue {
      min-width: 100%;
    }
  }

}
