.drop {
  height: 20%;
  width: 80%;
  background-color: rgb(65, 65, 65);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4em;

  a:hover {
    color: pink;
  }
}
