.drop {

  height: 6vw;
  width: 80%;
  background-color: rgb(65, 65, 65);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5vw;

  @media only screen and (max-width: 415px) {
    height: 12vw;
    font-size: 3vw;
  }

  mat-form-field {
    border-radius: 25px;
    height: 90%;
    width: 90%;
  }

  a:hover {
    color: pink;
  }
  a {
    color: white;
  }
}

.songs {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-height: 30em;
  overflow-y: scroll;

  .song {
    margin: 5px;
  }

}
